<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}pCAS, a PHP CAS library{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ECAS PHP Client">

    <title>pCAS, a PHP CAS library</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=" crossorigin="anonymous" />
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div id="welcome">
        <h1>pCAS library version {{ version }}</h1>
    </div>

    <nav class="nav">
        <a class="nav-link" href="/">Homepage</a>
        <a class="nav-link" href="/page/simple">Simple page</a>
        <a class="nav-link" href="/page/restricted">Restricted page</a>
        <a class="nav-link" href="/page/forcelogin">Force login page.</a>
        <a class="nav-link" href="/page/proxy">Proxy login</a>
        <a class="nav-link" href="/page/forcelogout">Logout</a>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">{{ welcome }}</h1>
        <p class="lead">Welcome to the pCAS library demo app <span>based on Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</span></p>
        <hr class="my-4">
        <p class="lead">
            <a href="{{ link.href }}" class="{{ link.class }}">{{ link.text }}</a>
        </p>
    </div>

    {% block body %}{% endblock %}

    <hr/>

    {% if user %}
        <p>
            <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="collapse" data-target="#user" aria-expanded="false" aria-controls="user">
                User information
            </button>
        </p>
        <div class="collapse" id="user">
            <div class="card card-body">
                <p>{{ dump(user) }}</p>
            </div>
        </div>
    {% endif %}

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#properties" aria-expanded="false" aria-controls="properties">
            pCas client properties
        </button>
    </p>
    <div class="collapse" id="properties">
        <div class="card card-body">
            <p>{{ dump(properties) }}</p>
        </div>
    </div>

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#session" aria-expanded="false" aria-controls="session">
            Session variables
        </button>
    </p>
    <div class="collapse" id="session">
        <div class="card card-body">
            <p>{{ dump(session) }}</p>
        </div>
    </div>

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#server" aria-expanded="false" aria-controls="server">
            Server variables
        </button>
    </p>
    <div class="collapse" id="server">
        <div class="card card-body">
            <p>{{ dump(server) }}</p>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
