<div id="welcome">
    <h1>EU Login library version {{ version }}</h1>
</div>

<nav class="nav">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link" href="/page/simple">Simple page.</a>
    <a class="nav-link" href="/page/restricted">Restricted page.</a>
    <a class="nav-link" href="/page/forcelogin">Force login page.</a>
    <a class="nav-link" href="/page/forcelogout">Force logout page.</a>
</nav>

<div class="jumbotron">
    <h1 class="display-3">{{ welcome }}</h1>
    <p class="lead">Welcome to the EU Login library demo app <span>based on Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</span></p>
    <hr class="my-4">
    <p class="lead">
        <a href="{{ link.href }}" class="{{ link.class }}">{{ link.text }}</a>
    </p>
</div>

<hr/>

{% if user %}
    <p>
        <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="collapse" data-target="#user" aria-expanded="false" aria-controls="user">
            User information
        </button>
    </p>
    <div class="collapse" id="user">
        <div class="card card-body">
            <p>{{ dump(user) }}</p>
        </div>
    </div>
{% endif %}

<p>
    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#properties" aria-expanded="false" aria-controls="properties">
        EU Login client properties
    </button>
</p>
<div class="collapse" id="properties">
    <div class="card card-body">
        <p>{{ dump(properties) }}</p>
    </div>
</div>

<p>
    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#session" aria-expanded="false" aria-controls="session">
        Session variables
    </button>
</p>
<div class="collapse" id="session">
    <div class="card card-body">
        <p>{{ dump(session) }}</p>
    </div>
</div>

<p>
    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#server" aria-expanded="false" aria-controls="server">
        Server variables
    </button>
</p>
<div class="collapse" id="server">
    <div class="card card-body">
        <p>{{ dump(server) }}</p>
    </div>
</div>